<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 作用 ：指定接口 -->
<mapper namespace="com.hpe.mapper.UserMapper">

	<select id="selectById" parameterType="int" resultType="User">
		select * from user where idss = #{id}
	</select>
	
	<update id="updateAccount">
		update account set balance = balance + #{1} where username = #{0}
	</update>

</mapper>